In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
#from collections import Counter
import collections

In [2]:
data = pd.read_csv('movie_bd_v5.csv')

# Предобработка

In [25]:
answers = {} # создадим словарь для ответов

In [56]:
# лучше их все таки разделять, чтоб не обнулять каждый раз словарь с ответами


# 6. Updating data with profit column
data['profit'] = data['revenue'] - data['budget']


# 11.
def unique_names_counter(df, location):
    # Universal counter for pd.Series with complex "|" splitted values
    c = collections.Counter()
    for category in df[location]:
        for subcat in category.split('|'):
            c[subcat] += 1
    return c
    

# 13. Profitable df
profitable_data = data[data['profit'] > 0]


# 25.
def sum_words(desc):
    # separates words by ' ' and counts them for each element of pd.Series
    descr_list = []
    for a in desc:
        descr_list.append(len(a.split(' ')))
    return np.mean(descr_list)  

# 27.
def cast_corresponder(x):
    # For each actor creates a fused str of co-actors he ever met in all movies(separated with '|')
    for a in x.split('|'):
        if a in cast_dict:
            cast_dict[a]=cast_dict[a]+'|'+x
        elif a not in cast_dict:
            cast_dict[a] = x
            return cast_dict

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [26]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides'
# запишите свой вариант ответа
#answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"
print(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides'}

In [9]:
data[data['budget'] == data['budget'].max()].original_title
# тут пишем ваш код для решения данного вопроса:

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [11]:
data.query('budget == budget.max()')['original_title']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [27]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals'
print(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides', '2': '2. Gods and Generals'}

In [12]:
data[data['runtime'] == data['runtime'].max()][['original_title', 'runtime']]

         original_title  runtime
1157  Gods and Generals      214

In [13]:
data.query('runtime == runtime.max()')[['original_title', 'runtime']]

         original_title  runtime
1157  Gods and Generals      214

# 3. Какой из фильмов самый короткий (в минутах)?

In [28]:
answers['3'] = '3. Winnie the Pooh'
print(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides', '2': '2. Gods and Generals', '3': '3. Winnie the Pooh'}

In [15]:
data[data['runtime'] == data['runtime'].min()]['original_title']

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [29]:
answers['4'] = '2. 110'
print(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides', '2': '2. Gods and Generals', '3': '3. Winnie the Pooh', '4': '2. 110'}

In [17]:
round(data['runtime'].mean())

110

# 5. Каково медианное значение длительности фильмов?

In [30]:
answers['5'] = '1. 107'
print(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides', '2': '2. Gods and Generals', '3': '3. Winnie the Pooh', '4': '2. 110', '5': '1. 107'}

In [19]:
round(data['runtime'].median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [31]:
answers['6'] = '5. Avatar'
print(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides', '2': '2. Gods and Generals', '3': '3. Winnie the Pooh', '4': '2. 110', '5': '1. 107', '6': '5. Avatar'}

In [21]:
# код получения столбца profit вынесен в Предобработку что в начале
data[data.profit == data.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [32]:
answers['7'] = '5. The Lone Ranger'
print(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides', '2': '2. Gods and Generals', '3': '3. Winnie the Pooh', '4': '2. 110', '5': '1. 107', '6': '5. Avatar', '7': '5. The Lone Ranger'}

In [23]:
data[data.profit == data.profit.min()][['original_title', 'profit']]

       original_title     profit
1245  The Lone Ranger -165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [33]:
answers['8'] = '1. 1478'
print(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides', '2': '2. Gods and Generals', '3': '3. Winnie the Pooh', '4': '2. 110', '5': '1. 107', '6': '5. Avatar', '7': '5. The Lone Ranger', '8': '1. 1478'}

In [25]:
len(data[data['profit'] > 0]['original_title'])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [34]:
answers['9'] = '4. The Dark Knight'
print(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides', '2': '2. Gods and Generals', '3': '3. Winnie the Pooh', '4': '2. 110', '5': '1. 107', '6': '5. Avatar', '7': '5. The Lone Ranger', '8': '1. 1478', '9': '4. The Dark Knight'}

In [27]:
data[data['profit'] == data[data.release_year == 2008]['profit'].max()]['original_title']

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [35]:
answers['10'] = '5. The Lone Ranger'
print(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides', '2': '2. Gods and Generals', '3': '3. Winnie the Pooh', '4': '2. 110', '5': '1. 107', '6': '5. Avatar', '7': '5. The Lone Ranger', '8': '1. 1478', '9': '4. The Dark Knight', '10': '5. The Lone Ranger'}

In [38]:
data[data['profit'] == data[(data.release_year <= 2014)
                            & (data.release_year >= 2012)]['profit'].min()]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [36]:
answers['11'] = '3. Drama'
print(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides', '2': '2. Gods and Generals', '3': '3. Winnie the Pooh', '4': '2. 110', '5': '1. 107', '6': '5. Avatar', '7': '5. The Lone Ranger', '8': '1. 1478', '9': '4. The Dark Knight', '10': '5. The Lone Ranger', '11': '3. Drama'}

In [58]:
genres_data = data[:]    # новый ДФ непривязанный к оригинальному
genres_data['genres'] = data['genres'].apply(lambda x:x.split('|'))    
# конверсия склеенной строки с жанрами в лист
genres_data = genres_data.explode('genres')    
# создание новых строк для каждого отдельного жанра
genres_data['genres'].value_counts()
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

ВАРИАНТ 2

In [37]:
data = pd.read_csv('movie_bd_v5.csv')
unique_names_counter(data, 'genres')
# применение unique_names_counter к data['genres']

Counter({'Action': 582,
         'Adventure': 415,
         'Science Fiction': 248,
         'Thriller': 596,
         'Fantasy': 222,
         'Crime': 315,
         'Western': 19,
         'Drama': 782,
         'Family': 260,
         'Animation': 139,
         'Comedy': 683,
         'Mystery': 168,
         'Romance': 308,
         'War': 58,
         'History': 62,
         'Music': 64,
         'Horror': 176,
         'Documentary': 8,
         'Foreign': 2})

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [38]:
answers['12'] = '1. Drama'
print(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides', '2': '2. Gods and Generals', '3': '3. Winnie the Pooh', '4': '2. 110', '5': '1. 107', '6': '5. Avatar', '7': '5. The Lone Ranger', '8': '1. 1478', '9': '4. The Dark Knight', '10': '5. The Lone Ranger', '11': '3. Drama', '12': '1. Drama'}

In [61]:
# More often means with higher chance? %? (probably not) 
# most frequent one is Documentary and it's not even in the list of answers
# we will use genres_data from previous task
genres_data[genres_data['profit'] > 0]['genres'].value_counts()    
# let's take "profitable" as everything where profit is > 0

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [39]:
answers['13'] = '5. Peter Jackson'
print(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides', '2': '2. Gods and Generals', '3': '3. Winnie the Pooh', '4': '2. 110', '5': '1. 107', '6': '5. Avatar', '7': '5. The Lone Ranger', '8': '1. 1478', '9': '4. The Dark Knight', '10': '5. The Lone Ranger', '11': '3. Drama', '12': '1. Drama', '13': '5. Peter Jackson'}

In [63]:
# the same stuff as for the genres_data, check 11 task
director_data = data[:]
director_data['director'] = data['director'].apply(lambda x:x.split('|'))
director_data = director_data.explode('director')
director_data.groupby('director')['revenue'].apply(sum).sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [40]:
answers['14'] = '3. Robert Rodriguez'
print(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides', '2': '2. Gods and Generals', '3': '3. Winnie the Pooh', '4': '2. 110', '5': '1. 107', '6': '5. Avatar', '7': '5. The Lone Ranger', '8': '1. 1478', '9': '4. The Dark Knight', '10': '5. The Lone Ranger', '11': '3. Drama', '12': '1. Drama', '13': '5. Peter Jackson', '14': '3. Robert Rodriguez'}

In [69]:
dir_genr_data = director_data[:]     
# we need separated genres and directors combined, so we take director_data as a start
dir_genr_data['genres'] = dir_genr_data['genres'].apply(lambda x:x.split('|'))    
# and separate genres in it
dir_genr_data = dir_genr_data.explode('genres')
action_df = dir_genr_data[dir_genr_data['genres'] == 'Action'][:]    
# creation of separate DF exclusively with Action movies
action_df.groupby('director')['genres'].value_counts().sort_values(ascending=False)

director            genres
Robert Rodriguez    Action    9
Paul W.S. Anderson  Action    7
Michael Bay         Action    7
Ridley Scott        Action    6
Antoine Fuqua       Action    6
                             ..
Joe Cornish         Action    1
Roger Spottiswoode  Action    1
Jimmy Hayward       Action    1
Jim Gillespie       Action    1
Jon Avnet           Action    1
Name: genres, Length: 364, dtype: int64

In [35]:
# NOT MY SOLUTION, overseen in slack!
# the easiest solution
data2 = data[data.genres.str.contains('Action', na = False)]
# Calculating directors names occurences, very easy, but I don't like it.
collections.Counter(data2['director'].str.cat(sep = '|').split('|')).most_common(1)

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [41]:
answers['15'] = '3. Chris Hemsworth'
print(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides', '2': '2. Gods and Generals', '3': '3. Winnie the Pooh', '4': '2. 110', '5': '1. 107', '6': '5. Avatar', '7': '5. The Lone Ranger', '8': '1. 1478', '9': '4. The Dark Knight', '10': '5. The Lone Ranger', '11': '3. Drama', '12': '1. Drama', '13': '5. Peter Jackson', '14': '3. Robert Rodriguez', '15': '3. Chris Hemsworth'}

In [102]:
cast_data = data[:]    # separating actors - see tasks 11-14
cast_data['cast'] = cast_data['cast'].apply(lambda x:x.split('|'))
cast_data = cast_data.explode('cast')
cast_data[cast_data['release_year'] == 2012].groupby('cast')['revenue'].apply(sum).sort_values(ascending=False)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [42]:
answers['16'] = '3. Matt Damon'
print(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides', '2': '2. Gods and Generals', '3': '3. Winnie the Pooh', '4': '2. 110', '5': '1. 107', '6': '5. Avatar', '7': '5. The Lone Ranger', '8': '1. 1478', '9': '4. The Dark Knight', '10': '5. The Lone Ranger', '11': '3. Drama', '12': '1. Drama', '13': '5. Peter Jackson', '14': '3. Robert Rodriguez', '15': '3. Chris Hemsworth', '16': '3. Matt Damon'}

In [78]:
cast_data[cast_data['budget'] > cast_data['budget'].mean()]['cast'].value_counts()

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Tom Cruise           15
                     ..
G. W. Bailey          1
Richard Dreyfuss      1
Mary Alice            1
Jonathan Groff        1
Freida Pinto          1
Name: cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [43]:
answers['17'] = '2. Action'
print(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides', '2': '2. Gods and Generals', '3': '3. Winnie the Pooh', '4': '2. 110', '5': '1. 107', '6': '5. Avatar', '7': '5. The Lone Ranger', '8': '1. 1478', '9': '4. The Dark Knight', '10': '5. The Lone Ranger', '11': '3. Drama', '12': '1. Drama', '13': '5. Peter Jackson', '14': '3. Robert Rodriguez', '15': '3. Chris Hemsworth', '16': '3. Matt Damon', '17': '2. Action'}

In [84]:
Cagiana_data = cast_data[cast_data['cast'] == 'Nicolas Cage']
# For sake of diversity
collections.Counter(Cagiana_data['genres'].str.cat(sep = '|').split('|')).most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [44]:
answers['18'] = '1. K-19: The Widowmaker'
print(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides', '2': '2. Gods and Generals', '3': '3. Winnie the Pooh', '4': '2. 110', '5': '1. 107', '6': '5. Avatar', '7': '5. The Lone Ranger', '8': '1. 1478', '9': '4. The Dark Knight', '10': '5. The Lone Ranger', '11': '3. Drama', '12': '1. Drama', '13': '5. Peter Jackson', '14': '3. Robert Rodriguez', '15': '3. Chris Hemsworth', '16': '3. Matt Damon', '17': '2. Action', '18': '1. K-19: The Widowmaker'}

In [47]:
data_paramount = data[data['production_companies'].str.contains('Paramount Pictures', na=False)]
data_paramount[data_paramount['profit'] == data_paramount['profit'].min()]['original_title']

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [45]:
answers['19'] = '5. 2015'
print(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides', '2': '2. Gods and Generals', '3': '3. Winnie the Pooh', '4': '2. 110', '5': '1. 107', '6': '5. Avatar', '7': '5. The Lone Ranger', '8': '1. 1478', '9': '4. The Dark Knight', '10': '5. The Lone Ranger', '11': '3. Drama', '12': '1. Drama', '13': '5. Peter Jackson', '14': '3. Robert Rodriguez', '15': '3. Chris Hemsworth', '16': '3. Matt Damon', '17': '2. Action', '18': '1. K-19: The Widowmaker', '19': '5. 2015'}

In [49]:
data.groupby('release_year')['revenue'].apply(sum).sort_values(ascending=False)    
# I love 'apply' :)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [46]:
answers['20'] = '1. 2014'
print(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides', '2': '2. Gods and Generals', '3': '3. Winnie the Pooh', '4': '2. 110', '5': '1. 107', '6': '5. Avatar', '7': '5. The Lone Ranger', '8': '1. 1478', '9': '4. The Dark Knight', '10': '5. The Lone Ranger', '11': '3. Drama', '12': '1. Drama', '13': '5. Peter Jackson', '14': '3. Robert Rodriguez', '15': '3. Chris Hemsworth', '16': '3. Matt Damon', '17': '2. Action', '18': '1. K-19: The Widowmaker', '19': '5. 2015', '20': '1. 2014'}

In [98]:
data_WB = data[data['production_companies'].str.contains('Warner Bros', na=False)]    
# DF with WB movieas only
data_WB.groupby('release_year')['profit'].apply(sum).sort_values(ascending=False)    
# I could have done this in one row, but it would look monsterous

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [47]:
answers['21'] = '4. Сентябрь'
print(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides', '2': '2. Gods and Generals', '3': '3. Winnie the Pooh', '4': '2. 110', '5': '1. 107', '6': '5. Avatar', '7': '5. The Lone Ranger', '8': '1. 1478', '9': '4. The Dark Knight', '10': '5. The Lone Ranger', '11': '3. Drama', '12': '1. Drama', '13': '5. Peter Jackson', '14': '3. Robert Rodriguez', '15': '3. Chris Hemsworth', '16': '3. Matt Damon', '17': '2. Action', '18': '1. K-19: The Widowmaker', '19': '5. 2015', '20': '1. 2014', '21': '4. Сентябрь'}

In [107]:
data['release_date'] = pd.to_datetime(data['release_date'])
data['release_date'].dt.month.value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [48]:
answers['22'] = '2. 450'
print(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides', '2': '2. Gods and Generals', '3': '3. Winnie the Pooh', '4': '2. 110', '5': '1. 107', '6': '5. Avatar', '7': '5. The Lone Ranger', '8': '1. 1478', '9': '4. The Dark Knight', '10': '5. The Lone Ranger', '11': '3. Drama', '12': '1. Drama', '13': '5. Peter Jackson', '14': '3. Robert Rodriguez', '15': '3. Chris Hemsworth', '16': '3. Matt Damon', '17': '2. Action', '18': '1. K-19: The Widowmaker', '19': '5. 2015', '20': '1. 2014', '21': '4. Сентябрь', '22': '2. 450'}

In [116]:
sum(data['release_date'].dt.month.value_counts()[[8,7,6]])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [49]:
answers['23'] = '5. Peter Jackson'
print(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides', '2': '2. Gods and Generals', '3': '3. Winnie the Pooh', '4': '2. 110', '5': '1. 107', '6': '5. Avatar', '7': '5. The Lone Ranger', '8': '1. 1478', '9': '4. The Dark Knight', '10': '5. The Lone Ranger', '11': '3. Drama', '12': '1. Drama', '13': '5. Peter Jackson', '14': '3. Robert Rodriguez', '15': '3. Chris Hemsworth', '16': '3. Matt Damon', '17': '2. Action', '18': '1. K-19: The Widowmaker', '19': '5. 2015', '20': '1. 2014', '21': '4. Сентябрь', '22': '2. 450', '23': '5. Peter Jackson'}

In [153]:
director_data['release_date'] = pd.to_datetime(director_data['release_date'])    
# lets convert it to the normal time format
director_data[(director_data['release_date'].dt.month == 1) | (data['release_date'].dt.month == 2)
              | (data['release_date'].dt.month == 12)]['director'].value_counts()
# director with most of movies in Jan - 1m + Feb - 2m + Dec - 12m

Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Nancy Meyers         4
Martin Scorsese      4
                    ..
Jessie Nelson        1
Xavier Palud         1
Taylor Hackford      1
Brad Peyton          1
Griffin Dunne        1
Name: director, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [50]:
answers['24'] = '5. Four By Two Productions'
print(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides', '2': '2. Gods and Generals', '3': '3. Winnie the Pooh', '4': '2. 110', '5': '1. 107', '6': '5. Avatar', '7': '5. The Lone Ranger', '8': '1. 1478', '9': '4. The Dark Knight', '10': '5. The Lone Ranger', '11': '3. Drama', '12': '1. Drama', '13': '5. Peter Jackson', '14': '3. Robert Rodriguez', '15': '3. Chris Hemsworth', '16': '3. Matt Damon', '17': '2. Action', '18': '1. K-19: The Widowmaker', '19': '5. 2015', '20': '1. 2014', '21': '4. Сентябрь', '22': '2. 450', '23': '5. Peter Jackson', '24': '5. Four By Two Productions'}

In [7]:
# separating production_companies
pc_data = data[:]
pc_data['production_companies'] = pc_data['production_companies'].apply(lambda x:x.split('|'))
pc_data = pc_data.explode('production_companies')

In [57]:
# we group production_xompanies by original title and apply to them lambda function which calculates their mean lenght
pc_data.groupby('production_companies')['original_title'].apply(lambda x: np.mean((x).str.len())).sort_values(ascending=False)

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: original_title, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [51]:
answers['25'] = '3. Midnight Picture Show'
print(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides', '2': '2. Gods and Generals', '3': '3. Winnie the Pooh', '4': '2. 110', '5': '1. 107', '6': '5. Avatar', '7': '5. The Lone Ranger', '8': '1. 1478', '9': '4. The Dark Knight', '10': '5. The Lone Ranger', '11': '3. Drama', '12': '1. Drama', '13': '5. Peter Jackson', '14': '3. Robert Rodriguez', '15': '3. Chris Hemsworth', '16': '3. Matt Damon', '17': '2. Action', '18': '1. K-19: The Widowmaker', '19': '5. 2015', '20': '1. 2014', '21': '4. Сентябрь', '22': '2. 450', '23': '5. Peter Jackson', '24': '5. Four By Two Productions', '25': '3. Midnight Picture Show'}

In [22]:
pc_data.groupby('production_companies')['overview'].apply(sum_words).sort_values(ascending=False)

production_companies
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
Heineken Branded Entertainment           161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: overview, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [52]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'
print(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides', '2': '2. Gods and Generals', '3': '3. Winnie the Pooh', '4': '2. 110', '5': '1. 107', '6': '5. Avatar', '7': '5. The Lone Ranger', '8': '1. 1478', '9': '4. The Dark Knight', '10': '5. The Lone Ranger', '11': '3. Drama', '12': '1. Drama', '13': '5. Peter Jackson', '14': '3. Robert Rodriguez', '15': '3. Chris Hemsworth', '16': '3. Matt Damon', '17': '2. Action', '18': '1. K-19: The Widowmaker', '19': '5. 2015', '20': '1. 2014', '21': '4. Сентябрь', '22': '2. 450', '23': '5. Peter Jackson', '24': '5. Four By Two Productions', '25': '3. Midnight Picture Show', '26': '1. Inside Out, The Dark Knight, 12 Years a Slave'}

In [65]:
# checking how many movies are in this 1%
one_percent = int(round(data['original_title'].count()/100)) #19
data.iloc[data['vote_average'].sort_values(ascending=False).index].head(one_percent)['original_title']
# showing who are those 19 ones

599                                   The Dark Knight
125                                The Imitation Game
9                                          Inside Out
118                                      Interstellar
34                                               Room
1081    The Lord of the Rings: The Return of the King
138                          The Grand Budapest Hotel
1183                          The Wolf of Wall Street
370                                         Inception
119                           Guardians of the Galaxy
1800                                          Memento
128                                         Gone Girl
872                                       The Pianist
1191                                 12 Years a Slave
283                                        Mr. Nobody
1688                              There Will Be Blood
863             The Lord of the Rings: The Two Towers
155                          The Theory of Everything
1563            Eternal Sunshine of the Spotless Mind
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [62]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'
print(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides', '2': '2. Gods and Generals', '3': '3. Winnie the Pooh', '4': '2. 110', '5': '1. 107', '6': '5. Avatar', '7': '5. The Lone Ranger', '8': '1. 1478', '9': '4. The Dark Knight', '10': '5. The Lone Ranger', '11': '3. Drama', '12': '1. Drama', '13': '5. Peter Jackson', '14': '3. Robert Rodriguez', '15': '3. Chris Hemsworth', '16': '3. Matt Damon', '17': '2. Action', '18': '1. K-19: The Widowmaker', '19': '5. 2015', '20': '1. 2014', '21': '4. Сентябрь', '22': '2. 450', '23': '5. Peter Jackson', '24': '5. Four By Two Productions', '25': '3. Midnight Picture Show', '26': '1. Inside Out, The Dark Knight, 12 Years a Slave', '27': 'Daniel Radcliffe, Rupert Grint'}

In [61]:
# 2. Select two lists with the highests ratio of repeats
# я знаю что это уродливо и костыльно, но решать по-другому уже не было нервов :(
data = pd.read_csv('movie_bd_v5.csv')

# dict we fill with the unique actors names and their coleagues from the common movies
cast_dict = {}

data['cast'].apply(cast_corresponder)

coupled_dict = {}
# filling up a coupled_dict with an Actor as a key and his most frequent co-actor as a key 
# of a nested dict and number of their co-occurences as a value of a nested dict
for a in cast_dict:
    coupled_dict[a]={pd.Series(cast_dict[a].split('|')).value_counts()
                     [1:2].index[0]:pd.Series(cast_dict[a].split('|')).value_counts()[1:2][0]}

# conversion to the DF, for more convenient sorting and slicing
coupled_df = pd.DataFrame(coupled_dict)
coupled_df.max().sort_values(ascending=False)[0:1] # here is our champion - Potter

Daniel Radcliffe    8.0
dtype: float64

In [58]:
coupled_df['Daniel Radcliffe'].sort_values(ascending=False)[0:1] # his partner - Weasley, of course

Rupert Grint    8.0
Name: Daniel Radcliffe, dtype: float64

# Submission

In [63]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers    # all correct

{'1': '5. Pirates of the Caribbean: On Stranger Tides',
 '2': '2. Gods and Generals',
 '3': '3. Winnie the Pooh',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar',
 '7': '5. The Lone Ranger',
 '8': '1. 1478',
 '9': '4. The Dark Knight',
 '10': '5. The Lone Ranger',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [64]:
# и убедиться что ни чего не пропустил)
len(answers)

27